$breakpoint-xxs: 420px;
$breakpoint-xs: 575px;
$breakpoint-s: 767px;
$breakpoint-m: 991px;
$breakpoint-l: 1199px;
$breakpoint-xl: 1200px;

$color-black: rgb(2, 2, 2);
$color-grey: rgb(185, 185, 185);
$color-grey-dark: rgb(101, 98, 98);
$color-pink: rgb(255, 153, 204);
$color-white: rgb(255, 255, 255);

$font-text: 'lato', sans-serif;
$font-title: 'montserrat', sans-serif;

$height-nav-bar: 65px;
