@import '_variables';

.meet-katlynn {
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: calc(100vh - 65px);
	@media only screen and (max-width: $breakpoint-xxs) {
		min-height: calc(80vh - 65px);
	}
	.meet-katlynn__left {
		background-color: $color-white;
		background-image: url('/static/images/index/katlynn-bookshelf-reading.jpg');
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		width: 50%;
		@media only screen and (max-width: $breakpoint-s) {
			min-height: calc(80vh - 65px);
			width: 100%;
		}
		@media only screen and (max-width: $breakpoint-xxs) {
			display: none;
		}
	}
	.meet-katlynn__right {
		align-items: flex-start;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 50px;
		text-align: left;
		width: 50%;
		@media only screen and (max-width: $breakpoint-s) {
			padding: 40px;
			width: 100%;
		}
		@media only screen and (max-width: $breakpoint-xxs) {
			padding: 20px;
		}
		button {
			background-color: $color-white;
			border: 1px solid $color-grey-dark;
			-webkit-box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 1);
			-moz-box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 1);
			box-shadow: 0px 5px 5px 0px rgba(186, 186, 186, 1);
			color: $color-grey-dark;
			font-size: $font-size-button;
			height: 50px;
			text-transform: uppercase;
			-moz-transition: all 0.2s ease-in;
    		-o-transition: all 0.2s ease-in;
    		-webkit-transition: all 0.2s ease-in;
    		transition: all 0.2s ease-in;
			width: 200px;
			&:hover {
				color: $color-black;
				background-color: $color-pink;
				cursor: pointer;
			}
		}
		h1 {
			font-size: 2.5em;
			margin: 0 0 20px 0;
			text-transform: uppercase;
		}
		p {
			font-size: $font-size-text;
			color: $color-grey-dark;
			margin: 0 0 20px 0;
		}
		.meet-katlynn__right__social {
			align-items: center;
			display: flex;
			flex-direction: row;
			margin: 20px 0 0 0;
			width: 100%;
			a {
				align-items: center;
				border: 1px solid $color-grey-dark;
				display: flex;
				flex-direction: row;
				margin: 0 20px 0 0;
				padding: 10px;
				-moz-transition: all 0.2s ease-in;
	    		-o-transition: all 0.2s ease-in;
	    		-webkit-transition: all 0.2s ease-in;
	    		transition: all 0.2s ease-in;
				&:hover {
					background-color: $color-pink;
					cursor: pointer;
				}
				img {
					box-sizing: border-box;
					height: 15px;
					width: 15px;
				}
			}
		}
	}
	.meet-katlynn__scroll-down {
		align-items: center;
		background-color: $color-pink;
		-webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
		bottom: 10px;
		display: flex;
		height: 50px;
		justify-content: center;
		left: calc(50% - 25px);
		position: absolute;
		width: 50px;
		z-index: 99;
		&:hover {
			cursor: pointer;
		}
		img {
			height: auto;
			width: 50%;
		}
		@media only screen and (max-width: $breakpoint-s) {
			display: none;
		}
	}
}

.work-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	.work-grid__item {
		background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/static/images/index/portfolio-myth.png');
		background-color: $color-white;
		background-position: top;
		background-repeat: no-repeat;
		background-size: cover;
		box-sizing: border-box;
		height: 500px;
		width: 33.33%;
		&:hover .work-grid__item__focus {
			opacity: 1;
		}
		a {
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
			text-decoration: none;
			p {
				color: $color-white;
				margin: 0;
			}
			.work-grid__item__tags {
				align-items: flex-end;
				display: flex;
				justify-content: flex-start;
				div {
					background-color: $color-pink;
					height: 5px;
					margin: 0 20px 0 0;
					width: 20px;
				}
				p {
					border: 1px solid $color-pink;
					margin: 40px 0 0 0;
					padding: 5px 10px;
					text-transform: uppercase;
					width: 70%;
				}
			}
			.work-grid__item__focus {
				opacity: 0;
				padding: 40px;
				.work-grid__item__focus__title {
					font-family: $font-title;
					font-size: 1.5em;
					margin: 0 0 10px 0;
					text-transform: uppercase;
				}
			}
		}
		@media only screen and (max-width: $breakpoint-s) {
			width: 50%;
		}
		@media only screen and (max-width: $breakpoint-xxs) {
			width: 100%;
		}
	}
}
