	</div> <!-- end of #content-wrap -->

	<footer>
		<p>Footer.</p>
	</footer>

</div> <!-- end of #page-container -->

<script type="text/javascript" src="/static/scripts/global.js"></script>

{{#if script }}
	<script type="text/javascript" src="/static/scripts/{{ script }}.js"></script>
{{/if }}

</body>
</html>
