<p>Footer.</p>

<script type="text/javascript" src="/static/scripts/global.js"></script>

{{#if script }}
	<script type="text/javascript" src="/static/scripts/{{ script }}.js"></script>
{{/if }}

</body>
</html>
