<nav class="nav-bar">
	<div class="nav-bar__logo">
		<img src="/static/images/katlynn-signature.png" alt="Katlynn Sverko logo.">
	</div>
	<div class="nav-bar__title">
		<p><span class="font-weight--bold">Katlynn Sverko</span><br />Screenwriter</p>
	</div>
	<div class="nav-bar__hamburger hamburger--squeeze" onclick="toggleNavBarLinks()">
		<button class="hamburger" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
	</div>
</nav>

<nav class="nav-bar-links animation-fade-in">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/work">Work</a></li>
		<li><a href="/about">About</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</nav>
