<div class="nav-bar">
	<div class="nav-bar__logo">
		<img src="/static/images/katlynn-signature.png" alt="Katlynn Sverko logo.">
	</div>
	<div class="nav-bar__title">
		<p><span class="color-black font-weight-bold">Katlynn Sverko</span><br />Screenwriter</p>
	</div>
	<div class="nav-bar__hamburger">
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>

<nav class="nav-bar-links animation-fade-in">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/Work">Work</a></li>
		<li><a href="/About">About</a></li>
		<li><a href="/Contact">Contact</a></li>
	</ul>
</nav>
