<div class="nav-bar">
	<ul>
		<li><img src="/static/images/katlynn-signature.png" alt="Katlynn Sverko logo."></li>
		<li><p class="color-grey-dark"><span class="color-black font-weight-bold">Katlynn Sverko</span><br />Screenwriter</p></li>
		<li>Work</li>
		<li>About</li>
		<li>Content</li>
	</ul>
</div>
