@font-face {
  font-family: "lato", sans-serif;
  src: url("/static/fonts/lato-regular.woff2") format("woff2"), url("/static/fonts/lato-regular.woff") format("woff"), url("/static/fonts/lato-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat", sans-serif;
  src: url("/static/fonts/montserrat-bold.woff2") format("woff2"), url("/static/fonts/montserrat-bold.woff") format("woff"), url("/static/fonts/montserrat-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 1px solid #656262;
  -webkit-box-shadow: 0px 5px 5px 0px #bababa;
  -moz-box-shadow: 0px 5px 5px 0px #bababa;
  box-shadow: 0px 5px 5px 0px #bababa;
  color: #656262;
  font-family: "lato", sans-serif;
  font-size: 1.25em;
  height: 50px;
  text-transform: uppercase;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  width: 200px;
}
button:hover {
  color: #020202;
  background-color: #ff99cc;
  cursor: pointer;
}

h1, h2 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

p {
  line-height: 1.5em;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 100px;
}

.animation-fade-in {
  -webkit-animation: fadeIn 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeIn 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadeIn 0.5s;
  /* Internet Explorer */
  -o-animation: fadeIn 0.5s;
  /* Opera < 12.1 */
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-fade-out {
  -webkit-animation: fadeOut 0.5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeOut 0.5s;
  /* Firefox < 16 */
  -ms-animation: fadeOut 0.5s;
  /* Internet Explorer */
  -o-animation: fadeOut 0.5s;
  /* Opera < 12.1 */
  animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.color--black {
  color: #020202;
}

.color--grey-dark {
  color: #656262;
}

.font-weight--bold {
  font-weight: bold;
}

.nav-bar {
  align-items: center;
  background-color: #b9b9b9;
  display: flex;
  font-family: var(--font-title);
  height: 65px;
  justify-content: space-between;
  text-transform: uppercase;
}
.nav-bar div {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.nav-bar .nav-bar__logo {
  width: 70px;
}
.nav-bar .nav-bar__logo img {
  height: 80%;
  width: auto;
}
.nav-bar .nav-bar__title {
  color: #656262;
  text-align: center;
}
.nav-bar .nav-bar__hamburger {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
}
.nav-bar .nav-bar__hamburger div {
  background-color: #656262;
  height: 3px;
  width: 35px;
  margin: 4px 0;
}

.nav-bar-links {
  align-items: center;
  background-color: white;
  display: none;
  height: calc(100vh - $height-nav-bar);
  justify-content: center;
  left: 0;
  position: absolute;
  top: 65px;
  width: 100vw;
}
.nav-bar-links ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50%;
}
.nav-bar-links ul li {
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  margin: 15px 0;
  text-transform: uppercase;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -o-transition: 0.25s linear;
  transition: 0.25s linear;
}
.nav-bar-links ul li:hover {
  -webkit-transform: translateX(5px);
  -moz-transform: translateX(5px);
  -o-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}
.nav-bar-links ul li a {
  color: #020202;
  padding: 10px;
  text-decoration: none;
}

footer {
  background-color: #b9b9b9;
  bottom: 0;
  height: 100px;
  position: absolute;
  width: 100%;
}
footer p {
  margin: 0;
}

/*# sourceMappingURL=global.css.map */
