@font-face {
	font-family: 'lato', sans-serif;
	src: url('/static/fonts/lato-regular.woff2') format('woff2'),
	url('/static/fonts/lato-regular.woff') format('woff'),
	url('/static/fonts/lato-regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat', sans-serif;
	src: url('/static/fonts/montserrat-bold.woff2') format('woff2'),
	url('/static/fonts/montserrat-bold.woff') format('woff'),
	url('/static/fonts/montserrat-bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--color-black: rgb(2, 2, 2);
	--color-grey: rgb(185, 185, 185);
	--color-grey-dark: rgb(101, 98, 98);
	--color-pink: rgb(255, 153, 204);

	--font-text: 'lato', sans-serif;
	--font-title: 'montserrat', sans-serif;
}

body {
	font-family: var(--font-text);
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.color-black {
	color: var(--color-black);
}

.color-grey-dark {
	color: var(--color-grey-dark);
}

.font-weight-bold {
	font-weight: bold;
}

.nav-bar {
	background-color: var(--color-grey);
	font-family: var(--font-title);
	text-transform: uppercase;
}

.nav-bar ul {
	align-items: center;
	display: flex;
	height: 60px;
	justify-content: flex-start;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.nav-bar ul li {
	align-items: center;
	display: flex;
	height: 90%;
	justify-content: center;
	margin: 0 20px;
}

.nav-bar ul li img {
	height: 100%;
	object-fit: contain;
	width: auto;
}

@media only screen and (max-width: 585px) {
  body {
    background-color: lightblue;
  }
}
