.meet-katlynn {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: calc(100vh - 65px);
}
@media only screen and (max-width: 420px) {
  .meet-katlynn {
    min-height: calc(80vh - 65px);
  }
}
.meet-katlynn .meet-katlynn__left {
  background-color: white;
  background-image: url("/static/images/index/meet-katlynn-background.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .meet-katlynn .meet-katlynn__left {
    min-height: calc(80vh - 65px);
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .meet-katlynn .meet-katlynn__left {
    display: none;
  }
}
.meet-katlynn .meet-katlynn__right {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  text-align: left;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .meet-katlynn .meet-katlynn__right {
    padding: 40px;
    width: 100%;
  }
}
@media only screen and (max-width: 420px) {
  .meet-katlynn .meet-katlynn__right {
    padding: 20px;
  }
}
.meet-katlynn .meet-katlynn__right h1 {
  margin: 0 0 20px 0;
}
.meet-katlynn .meet-katlynn__right p {
  font-size: 1em;
  color: #656262;
  margin: 0 0 20px 0;
}
.meet-katlynn .meet-katlynn__right .meet-katlynn__right__social {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  width: 100%;
}
.meet-katlynn .meet-katlynn__right .meet-katlynn__right__social a {
  align-items: center;
  border: 1px solid #656262;
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 0;
  padding: 10px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.meet-katlynn .meet-katlynn__right .meet-katlynn__right__social a:hover {
  background-color: #F691B2;
  cursor: pointer;
}
.meet-katlynn .meet-katlynn__right .meet-katlynn__right__social a img {
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}
.meet-katlynn .meet-katlynn__scroll-down {
  align-items: center;
  background-color: #F691B2;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  height: 50px;
  justify-content: center;
  left: calc(50% - 25px);
  position: absolute;
  width: 50px;
  z-index: 99;
}
.meet-katlynn .meet-katlynn__scroll-down:hover {
  cursor: pointer;
}
.meet-katlynn .meet-katlynn__scroll-down img {
  height: auto;
  width: 50%;
}
@media only screen and (max-width: 767px) {
  .meet-katlynn .meet-katlynn__scroll-down {
    display: none;
  }
}

.work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.work .work__item {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/index/portfolio-myth.png");
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 500px;
  width: 25%;
}
.work .work__item:hover .work__item__focus {
  opacity: 1;
}
.work .work__item:last-child {
  display: none;
}
@media only screen and (max-width: 1200px) {
  .work .work__item:last-child {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  .work .work__item:last-child {
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .work .work__item:last-child {
    display: block;
  }
}
.work .work__item a {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  text-decoration: none;
}
.work .work__item a p {
  color: white;
  margin: 0;
}
.work .work__item a .work__item__tags {
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
}
.work .work__item a .work__item__tags div {
  background-color: #F691B2;
  height: 5px;
  margin: 0 20px 0 0;
  width: 20px;
}
.work .work__item a .work__item__tags p {
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #F691B2;
  color: white;
  margin: 40px 0 0 0;
  padding: 5px 10px;
  text-transform: uppercase;
  width: 70%;
}
.work .work__item a .work__item__focus {
  opacity: 0;
  padding: 40px;
}
.work .work__item a .work__item__focus .work__item__focus__title {
  font-family: "montserrat", sans-serif;
  font-size: 1.5em;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  .work .work__item {
    width: 33.33%;
  }
}
@media only screen and (max-width: 767px) {
  .work .work__item {
    width: 50%;
  }
}
@media only screen and (max-width: 420px) {
  .work .work__item {
    width: 100%;
  }
}

.get-in-touch {
  padding: 40px;
  text-align: center;
}
.get-in-touch p {
  margin: 20px auto;
  max-width: 500px;
}

.mission-method {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.mission-method .mission-method__left {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  width: 50%;
}
.mission-method .mission-method__left img {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .mission-method .mission-method__left {
    width: 100%;
  }
}
.mission-method .mission-method__right {
  box-sizing: border-box;
  padding: 40px;
  width: 50%;
}
.mission-method .mission-method__right div {
  background-color: #b9b9b9;
  height: 3px;
  margin: 40px auto;
  width: 80%;
}
.mission-method .mission-method__right p {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .mission-method .mission-method__right {
    padding: 0 40px 40px 40px;
    text-align: center;
    width: 100%;
  }
  .mission-method .mission-method__right p {
    margin: 10px auto;
    max-width: 500px;
  }
}

.seo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seo .seo__left {
  box-sizing: border-box;
  padding: 40px 0 40px 50px;
  width: 60%;
}
@media only screen and (max-width: 767px) {
  .seo .seo__left {
    order: 1;
    padding: 40px;
    text-align: center;
    width: 100%;
  }
  .seo .seo__left p {
    margin: 10px auto;
    max-width: 500px;
  }
}
.seo .seo__right {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40%;
}
.seo .seo__right img {
  height: auto;
  max-width: 300px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .seo .seo__right {
    order: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
