<section class="meet-katlynn">
	<div class="meet-katlynn__left"></div>
	<div class="meet-katlynn__right">
		<h1>Meet Katlynn</h1>
		<p>At age twelve, Katlynn completed her first novel, <span class="font-style--italic">Myth</span>-  the story of an awkward young woman discovering she is a demigod and finding a place where she truly belongs. Initially, Katlynn wrote this novel hoping it would be made into a film (and of course, be able to play the protagonist), not knowing that she could write screenplays&nbsp;outright.</p>
		<p>After gaining somewhat limited access to the Internet at age 15, Katlynn discovered the ability to write for the screen, and the speed at which an idea could be communicated. Since then, Katlynn’s primary focus has been screenwriting and the numerous films she has&nbsp;penned.</p>
		<p>Katlynn has a BA in Creative Industries with a focus on Film and Storytelling in Media, as well as her Masters of Digital Media from Ryerson University. With a background in marketing and media, Katlynn writes stories that&nbsp;work.</p>
		<button name="meet-katlynn__right__button" onclick="sendEmail()" type="button">Contact</button>
	</div>
</section>

<section class="behind-the-scenes">
	<div class="behind-the-scenes__left">
		<h2>Behind the scenes</h2>
		<p>Katlynn is an accessibility advocate and ally, working to create a world that is able to be accessed by all. In 2018, Katlynn launched <a href="http://buildforall.ca/">Build for All</a>, a website empowering startups to create accessible products and&nbsp;services.</p>
		<p>Build for All’s goal is to provide the community with education and processes on how to successfully implement accessible options, while addressing the fact that startups are already overburdened and are being pulled in many different directions. Everyone deserves access to technology, and everyone deserves access on equal terms.</p>
	</div>
	<div class="behind-the-scenes__right">

		<div class="behind-the-scenes__right__image-container">
			<div class="behind-the-scenes__right__image-container__image">
				<img src="/static/images/about/behind-the-scenes-scroller-top.png" alt="Sample screenplay text.">
			</div>
			<div class="behind-the-scenes__right__image-container__image behind-the-scenes__right__image-container__image--overlay">
				<img src="/static/images/about/behind-the-scenes-scroller-bottom.png" alt="Sample screenplay text.">
			</div>
		</div>
	</div>
</section>
