<section class="meet-katlynn">
	<div class="meet-katlynn__left"></div>
	<div class="meet-katlynn__right">
		<h1>Meet Katlynn</h1>
		<p>A dedicated and captivating screenwriter, Katlynn delves into the most basic human characteristic- hope, and the obstacles that threaten it. Her works are character-driven explorations of human kindness, and the fallout when that kindness is threatened. While her works span diverse genres, her writing frequently features a strong female protagonist and the conditions required to transform a character into an unrecognizable&nbsp;being.</p>
		<p>Katlynn has worked in numerous entertainment companies producing creative content and pitching&nbsp;concepts.</p>
		<button name="meet-katlynn__right__button" onclick="sendEmail()" type="button">Contact</button>
		<div class="meet-katlynn__right__social">
			<a href="https://www.linkedin.com/in/katlynnsverko/" rel="noopener" target="_blank"><img alt="LinkedIn icon." src="/static/images/index/social-linkedin.svg" /></a>
			<a href="https://twitter.com/KatlynnSverko" rel="noopener" target="_blank"><img alt="Twitter icon." src="/static/images/index/social-twitter.svg" /></a>
			<a href="mailto:ksverko@ryerson.ca" rel="noopener" target="_blank"><img alt="Email paper plane icon." src="/static/images/index/social-email.svg" /></a>
		</div>
	</div>
	<div class="meet-katlynn__scroll-down" onclick="scrollToElement('index-work-grid')">
		<img alt="Down arrow icon." src="/static/images/index/icon-down-arrow.svg" />
	</div>
</section>

<section class="work-grid" id="index-work-grid">
	<h2>Hello there</h2>
</section>

<section class="work-grid" id="index-work-second">
	<h2>Hello there</h2>
</section>
