<section class="meet-katlynn">
	<div class="meet-katlynn__left"></div>
	<div class="meet-katlynn__right">
		<h1>Meet Katlynn</h1>
		<p>A dedicated and captivating screenwriter, Katlynn delves into the most basic human characteristic- hope, and the obstacles that threaten it. Her works are character-driven explorations of human kindness, and the fallout when that kindness is threatened. While her works span diverse genres, her writing frequently features a strong female protagonist and the conditions required to transform a character into an unrecognizable&nbsp;being.</p>
		<p>Katlynn has worked in numerous entertainment companies producing creative content and pitching&nbsp;concepts.</p>
		<button name="meet-katlynn__right__button" onclick="sendEmail()" type="button">Contact</button>
		<div class="meet-katlynn__right__social">
			<a href="https://www.linkedin.com/in/katlynnsverko/" rel="noopener" target="_blank"><img alt="LinkedIn icon." src="/static/images/index/meet-katlynn-icon-linkedin.svg" /></a>
			<a href="https://twitter.com/KatlynnSverko" rel="noopener" target="_blank"><img alt="Twitter icon." src="/static/images/index/meet-katlynn-icon-twitter.svg" /></a>
			<a href="mailto:ksverko@ryerson.ca" rel="noopener" target="_blank"><img alt="Email paper plane icon." src="/static/images/index/meet-katlynn-icon-email.svg" /></a>
		</div>
	</div>
	<div class="meet-katlynn__scroll-down" onclick="scrollToElement('index-work')">
		<img alt="Down arrow icon." src="/static/images/index/meet-katlynn-icon-down-arrow-white.svg" />
	</div>
</section>

<section class="work" id="index-work">
	<div class="work__item" id="index-work-myth" onmouseover="darkenPortfolioCoverImage('index-work-myth', 'work-myth.png')" onmouseout="lightenPortfolioCoverImage('index-work-myth', 'work-myth.png')" style="background-image: url('/static/images/index/work-myth.png')">
		<a href="/work/myth">
			<div class="work__item__tags">
				<div></div>
				<p>Young Adult, Supernatural, Romance</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Myth</p>
				<p class="work__item__focus__log-line">Novel.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-fault-by-design" onmouseover="darkenPortfolioCoverImage('index-work-fault-by-design', 'work-fault-by-design.jpg')" onmouseout="lightenPortfolioCoverImage('index-work-fault-by-design', 'work-fault-by-design.jpg')" style="background-image: url('/static/images/index/work-fault-by-design.jpg')">
		<a href="/work/fault-by-design">
			<div class="work__item__tags">
				<div></div>
				<p>Drama, Tearjerker</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Fault by Design</p>
				<p class="work__item__focus__log-line">Smothered and over-protected by her parents, an architecture enthusiast discovers a conspiracy to hide that she was born with a defect, leaving her with only a month to&nbsp;live.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-fate" onmouseover="darkenPortfolioCoverImage('index-work-fate', 'work-fate.png')" onmouseout="lightenPortfolioCoverImage('index-work-fate', 'work-fate.png')" style="background-image: url('/static/images/index/work-fate.png')">
		<a href="/work/fate">
			<div class="work__item__tags">
				<div></div>
				<p>Romance, Tearjerker, Supernatural, Period</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Fate</p>
				<p class="work__item__focus__log-line">A kind-hearted young woman, forbidden from falling in love, is forced to reap lives alongside her sisters in the medieval village of&nbsp;Waycross.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-anachronism" onmouseover="darkenPortfolioCoverImage('index-work-anachronism', 'work-anachronism.jpg')" onmouseout="lightenPortfolioCoverImage('index-work-anachronism', 'work-anachronism.jpg')" style="background-image: url('/static/images/index/work-anachronism.jpg')">
		<a href="/work/anachronism">
			<div class="work__item__tags">
				<div></div>
				<p>Comedy</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Anachronism</p>
				<p class="work__item__focus__log-line">A stubborn unpublished writer attempts to prove her parents wrong, unintentionally writing manuscripts identical to bestselling&nbsp;authors.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-contribution-conundrum" onmouseover="darkenPortfolioCoverImage('index-work-contribution-conundrum', 'work-contribution-conundrum.png')" onmouseout="lightenPortfolioCoverImage('index-work-contribution-conundrum', 'work-contribution-conundrum.png')" style="background-image: url('/static/images/index/work-contribution-conundrum.png')">
		<a href="/work/anachronism">
			<div class="work__item__tags">
				<div></div>
				<p>Comedy</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Contribution Conundrum</p>
				<p class="work__item__focus__log-line">A community of online writers compete with each other for dominant contributions to a single screenplay, never meeting one&nbsp;another.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-garden-of-innocence" onmouseover="darkenPortfolioCoverImage('index-work-garden-of-innocence', 'work-garden-of-innocence.png')" onmouseout="lightenPortfolioCoverImage('index-work-garden-of-innocence', 'work-garden-of-innocence.png')" style="background-image: url('/static/images/index/work-garden-of-innocence.png')">
		<a href="/work/garden-of-innocence">
			<div class="work__item__tags">
				<div></div>
				<p>Drama, Tragedy, Supernatural, Period</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Garden of Innocence</p>
				<p class="work__item__focus__log-line">A curious young woman escapes the confines of a protective garden paradise to explore the real&nbsp;world.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-foundation" onmouseover="darkenPortfolioCoverImage('index-work-foundation', 'work-foundation.png')" onmouseout="lightenPortfolioCoverImage('index-work-foundation', 'work-foundation.png')" style="background-image: url('/static/images/index/work-foundation.png')">
		<a href="/work/foundation">
			<div class="work__item__tags">
				<div></div>
				<p>Tragedy, Tearjerker</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Foundation</p>
				<p class="work__item__focus__log-line">As buildings crumble and get repaired around a bus stop, two lovers age while the concrete seems to get&nbsp;younger.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-pirate-clown-princess" onmouseover="darkenPortfolioCoverImage('index-work-pirate-clown-princess', 'work-pirate-clown-princess.png')" onmouseout="lightenPortfolioCoverImage('index-work-pirate-clown-princess', 'work-pirate-clown-princess.png')" style="background-image: url('/static/images/index/work-pirate-clown-princess.png')">
		<a href="/work/pirate-clown-princess">
			<div class="work__item__tags">
				<div></div>
				<p>Comedy, Crime</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Pirate, Clown, Princess</p>
				<p class="work__item__focus__log-line">Three down-on-their-luck children’s entertainers, a pirate, a clown, and a princess, stumble upon a PCP drug smuggling ring, and conspire to bring the drug dealers in for the reward&nbsp;money.</p>
			</div>
		</a>
	</div>
	<div class="work__item" id="index-work-max-millions" onmouseover="darkenPortfolioCoverImage('index-work-max-millions', 'work-max-millions.png')" onmouseout="lightenPortfolioCoverImage('index-work-max-millions', 'work-max-millions.png')" style="background-image: url('/static/images/index/work-max-millions.png')">
		<a href="/work/max-millions">
			<div class="work__item__tags">
				<div></div>
				<p>Comedy, Crime, Heist</p>
			</div>
			<div class="work__item__focus">
				<p class="work__item__focus__title">Max Millions</p>
				<p class="work__item__focus__log-line">Knowing the odds of winning the lottery are against him and his colleagues’ weekly lottery pool, the discipline-driven Max decides to take matters into his own hands, pocketing his colleagues’ cash and forging team lottery tickets, until one day when the numbers on the fake ticket&nbsp;win.</p>
			</div>
		</a>
	</div>
</section>

<section class="get-in-touch">
	<h2>Get in touch</h2>
	<p>If you are interested in getting in touch about a project, representation, or the rights to one of Katlynn’s works, we would love to hear from&nbsp;you.</p>
	<button type="button" name="button">Contact</button>
</section>

<section class="mission-method">
	<div class="mission-method__left">
		<img src="/static/images/index/mission-method-graphic.png" alt="Graphic of female sitting on abstract box with flowers growing.">
	</div>
	<div class="mission-method__right">
		<h2>Mission</h2>
		<p>To create compelling stories that provoke audiences to consider the implications of their actions in the&nbsp;universe.</p>
		<div></div>
		<h2>Method</h2>
		<p>Inspired by the many great writers and filmmakers of her childhood, Katlynn takes a pragmatic approach to writing. Although she is yet to complete a spy thriller, Katlynn nods to Ian Flemming’s straightforward attitude towards writing for both on screen and off- compelling the reader to turn the page. While her storylines may take place in another time and weave in elements considered to be metaphysical, Katlynn forges relatable characters and chronicles their experiences and behaviours as they are thrown into remarkable&nbsp;circumstances.</p>
	</div>
</section>

<section class="seo">
	<div class="seo__left">
		<h2>SEO</h2>
		<p>Search engine optimization (SEO) is the ability for a web page to draw visitors through the use of language and keywords used on a site. These keywords, like Canadian screenwriter or young screenwriter, are picked up by search engines like Google or Bing in order to produce accurate results for an individual’s&nbsp;search.</p>
		<p>In order to successfully implement SEO, one must know the keywords that readers are using to find results. In the case of this website chances are screenwriter, writer, novelist, up and coming writer, are on the list. It also helps if your creative content and stories are more than 800&nbsp;words.</p>
		<p>Now, at this point, you may be asking, “why are you telling me about SEO? I’m here to learn about Katlynn Sverko and her writing.” Great question! The SEO section is being used here to ensure this website on screenwriting is discovered on search engines. By using terms like female screenwriter in a full sentence while describing SEO, one gets a strategic advantage to being found&nbsp;online!</p>
	</div>
	<div class="seo__right">
		<img src="/static/images/index/seo-graphic.png" alt="Graphic of mail envelop with messagings coming out of it.">
	</div>
</section>
